In [17]:
import os

import sktime
from sktime.datasets import load_from_tsfile

DATA_PATH = os.path.join(os.path.dirname(sktime.__file__), "datasets/data")

train_x, train_y = load_from_tsfile(
    os.path.join(DATA_PATH, "ArrowHead/ArrowHead_TRAIN.ts")
)
test_x, test_y = load_from_tsfile(
    os.path.join(DATA_PATH, "ArrowHead/ArrowHead_TEST.ts")
)

In [19]:
train_x.shape

(36, 1)

In [21]:
train_x.head()

                                               dim_0
0  0     -1.963009
1     -1.957825
2     -1.95614...
1  0     -1.774571
1     -1.774036
2     -1.77658...
2  0     -1.866021
1     -1.841991
2     -1.83502...
3  0     -2.073758
1     -2.073301
2     -2.04460...
4  0     -1.746255
1     -1.741263
2     -1.72274...

In [22]:
train_x, train_y = load_from_tsfile(
    os.path.join(DATA_PATH, "ArrowHead/ArrowHead_TRAIN.ts"), return_data_type="numpy3d"
)

In [24]:
train_x

array([[[-1.9630089, -1.9578249, -1.9561449, ..., -1.9053929,
         -1.9239049, -1.9091529]],

       [[-1.7745713, -1.7740359, -1.7765863, ..., -1.7292269,
         -1.7756704, -1.7893245]],

       [[-1.8660211, -1.8419912, -1.8350253, ..., -1.8625124,
         -1.8633682, -1.8464925]],

       ...,

       [[-2.1308119, -2.1044297, -2.0747549, ..., -2.0340977,
         -2.0800313, -2.103448 ]],

       [[-1.8803376, -1.8626622, -1.8496866, ..., -1.8485336,
         -1.8640342, -1.8798851]],

       [[-1.80105  , -1.7989155, -1.7783754, ..., -1.7965491,
         -1.7985443, -1.80105  ]]])

In [27]:
from sktime.datatypes import convert

ret = convert(train_x, from_type="numpy3D", to_type="pd-multiindex")

In [28]:
ret

                         var_0
instances timepoints
0         0          -1.963009
          1          -1.957825
          2          -1.956145
          3          -1.938289
          4          -1.896657
...                        ...
35        246        -1.717157
          247        -1.759057
          248        -1.796549
          249        -1.798544
          250        -1.801050

[9036 rows x 1 columns]

In [7]:
from sktime.classification.distance_based import KNeighborsTimeSeriesClassifier
from sktime.datasets import load_unit_test
X_train, y_train = load_unit_test(return_X_y=True, split="train")
X_test, y_test = load_unit_test(return_X_y=True, split="test")

In [12]:
X_train.iloc[4,0]

0      372.0
1      310.0
2      203.0
3      133.0
4       65.0
5       39.0
6       27.0
7       36.0
8      107.0
9      139.0
10     329.0
11     651.0
12     990.0
13    1027.0
14    1041.0
15     971.0
16    1104.0
17     844.0
18    1023.0
19    1019.0
20     862.0
21     643.0
22     591.0
23     452.0
dtype: float64

In [13]:
classifier = KNeighborsTimeSeriesClassifier(distance="euclidean")
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

In [14]:
y_pred

array(['1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '2', '1', '2',
       '2', '1', '2', '2', '1', '2', '2', '2', '2'], dtype='<U1')

In [16]:
classifier.score(X_train, y_train)

1.0

In [15]:
classifier.score(X_test, y_test)

0.8636363636363636